# Sensitive information
config.sh
dnsmasq.conf
hostapd.conf
hotspot.conf
nat-ap.nft
08-wlan0.network

# System secrets and logs
*.log
*.key
.env
/etc/shadow
/etc/gshadow

# OS-specific clutter
.DS_Store
__pycache__/
